// 左上角&左下角
@mixin beveled-corners($bg, $tl: 0, $tr: $tl, $br: $tl, $bl: $tr) {
  background: $bg;
  background: linear-gradient(135deg, transparent $tl, $bg 0) top left,
    linear-gradient(45deg, transparent $bl, $bg 0) bottom left;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}
// -45deg 旋转角度，用于控制切角的方向
// transparent 35px 从哪里切，以透明颜色开始渲染35px
// #000 0 0指的是从15px开始处用#000颜色渲染剩下的区域
@mixin beveled-all-corners($bg, $tl: 0, $tr: $tl, $br: $tl, $bl: $tr) {
  background: $bg;
  background: linear-gradient(135deg, transparent $tl, $bg 0) top left,
    linear-gradient(225deg, transparent $tr, $bg 0) top right,
    linear-gradient(-45deg, transparent $br, $bg 0) bottom right,
    linear-gradient(45deg, transparent $bl, $bg 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
}
@mixin redbtn() {
  background-image: url('../images/redButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@mixin orangebtn() {
  background-image: url('../images/orangeButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@mixin graybtn {
  background-image: url('../images/greyButton.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@mixin close-button {
  width: 43px;
  height: 47px;
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@keyframes RToI {
  from {
    transform: translateX(100%);
  }
}
